{% extends "account/login_base.html" %}

{% load bootstrap %}

{% block panel-header-title %}Password reset{% endblock %}
{% block panel-body %}
    <p>Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
    <form method="POST" action="">
            {% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <input autofocus placeholder="E-mailaddress" class="form-control" name="email" type="email">
                </div>
                <div class="password-recovery"><a href="{% url 'account_login' %}">Back to login</a></div>
                <button type="submit" class="btn btn-primary">
                    Reset my password
                </button>
            </fieldset>

    </form>
{% endblock %}
