{% extends "account/login_base.html" %}
{% load url from future %}

{% block panel-header-title %}Password reset sent{% endblock %}
{% block panel-body %}
    {% if not resend %}
        <p>We have sent you an email. If you do not receive it within a few minutes, try resending it.</p>

        <form method="POST" action="{% url "account_password_reset" %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.as_hidden }}
            {% endfor %}
            <button type="submit" name="resend" class="btn btn-primary">Resend</button>
            <div class="password-recovery"><a href="{% url 'account_login' %}">Back to login</a></div>
        </form>

    {% else %}
        <p>We have resent the password email. If you do not receive it within a few minutes, contact an AmCAT representative.</p>
        <div><a href="{% url 'account_login' %}">Back to login</a></div>
    {% endif %}

{% endblock %}