{% extends "account/login_base.html" %}
{% load bootstrap %}
{% load url from future %}

{% block panel-header-title %}Reset password{% endblock %}

{% block panel-body %}
    <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
        <fieldset>
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Save</button>
            <div class="password-recovery"><a href="{% url 'account_login' %}">Back to login</a></div>
        </fieldset>
    </form>
{% endblock %}