{% extends "base.html" %}
{% load url from future %}
{% load static %}

{% block body %}
    {% if messages %}
        <script>
            require(["pnotify", "pnotify.nonblock"], function(PNotify){
                {% for message in messages %}
                    new PNotify({
                        nonblock: {
                            nonblock: true,
                            nonblock_opacity: .2
                        },
                        text: "{{ message.message }}",
                        {% if message.level == 20 %}
                            type: "info"
                        {% elif message.level == 25 %}
                            type: "success"
                        {% elif message.level == 30 %}
                        {% elif message.level == 40 %}
                            type: "error"
                        {% else %}
                        {% endif %}
                    });
                {% endfor %}
            });
        </script>
    {% endif %}


    <link href="{% static 'dashboard/base.css' %}" rel="stylesheet" type="text/css">
    <script>require(["jquery", "bootstrap", "metis-menu", "sb-admin"]);</script>

    <div id="wrapper">
        {% include "dashboard/menu.html" %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    {% block dashboard-body %}
                        <h1 class="page-header">Dashboard</h1>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
