{% extends "dashboard/base.html" %}

{% block dashboard-body %}
    <p><br/></p>
    <div class="row">
        {% include "dashboard/query_panel.html" with panel_size=12 panel_id="geenstijl" query_id=geenstijl.id %}
    </div>

    <div class="row">
        {% include "dashboard/query_panel.html" with panel_size=6 panel_id="clustermap" query_id=clustermap.id %}
        {% include "dashboard/query_panel.html" with panel_size=6 panel_id="dagbladen" query_id=dagbladen.id %}
    </div>

    {% include "dashboard/render_query.html" with query=geenstijl container="geenstijl" %}
    {% include "dashboard/render_query.html" with query=clustermap container="clustermap" %}
    {% include "dashboard/render_query.html" with query=dagbladen container="dagbladen" %}
{% endblock %}