{% extends "dashboard/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/edit_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css' %}">
{% endblock %}

{% block dashboard-body %}

    <div id="page-data" data-page="{{ page_json }}"></div>

    <div id="global-options" class="row">
        <div class="col-lg-12">
            <div data-query-id="" class="panel panel-default">
                <div class="panel-heading">Global options</div>
                <div class="panel-body">
                    <div class="save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</div>
                    <!--<div class="autoresize btn btn-default"><i class="glyphicon glyphicon-resize-horizontal"></i> Autoresize</div>-->
                    <div class="synchronise btn btn-default"><i class="glyphicon glyphicon-refresh"></i> Synchronise queries</div>
                    <!--<div class="preview btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Preview</div>-->
                    <input data-label-text="Hints" class="hints" type="checkbox" checked />
                    <a href="{% url "dashboard:system-theme-list" system.id %}" class="btn btn-default">Edit themes...</a>
                </div>
            </div>
        </div>
    </div>

    <div id="row-template" style="display:none;">
        <div class="row">
            <div class="col col-sm-12">
                <div class="query-stub panel panel-default">
                    <div class="panel-heading">
                        <!--<i class="query-icon fa fa-bar-chart-o fa-fw"></i>-->

                        <!--
                        <div class="btn-group">
                            <div class="resize-left btn btn-xs btn-default"><i class="glyphicon glyphicon-chevron-left"></i></div>
                            <div class="hint btn btn-default btn-xs disabled">Resize</div>
                            <div class="resize-right btn btn-xs btn-default"><i class="glyphicon glyphicon-chevron-right"></i></div>
                        </div>
                        -->
                        <select class="saved-query">
                            <option value="">-- choose query --</option>
                            {% for query in queries %}
                                <option value="{{ query.id }}">{{ query.amcat_name }}</option>
                            {% endfor %}
                        </select>

                        <select class="refresh-interval" title="Refreshes query results with specified interval">
                            <option value="">No auto-refresh</option>
                            <optgroup label="Every..">
                                <option value="*/5 * * * *">5 minutes</option>
                                <option value="*/15 * * * *">15 minutes</option>
                                <option value="0 * * * *">1 hour</option>
                                <option value="0 */2 * * *">2 hours</option>
                                <option value="0 */8 * * *">8 hours</option>
                                <option value="0 0 * * *">Night</option>
                            </optgroup>
                        </select>

                        <select class="theme"
                        title="Applies a custom theme to the chart, if applicable.">
                            <option value="">No theme</option>
                            <optgroup label="Themes">
                            {% for theme in system.highchartstheme_set.all %}
                                <option value="{{ theme.id }}">{{ theme.name }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>

                        <div class="dropdown btn-group">
                        <button class="btn btn-default btn-xs" data-toggle="dropdown">Customize...</button>
                        <div class="dropdown-menu" style="font-size: 0.8em; padding: 1em;">
                            <p>
                                <label for="id_query-title">Title</label>
                                <input type="text" id="id_query-title" class="query-title" placeholder="{{ v.placeholder }}">
                            </p>
                            <form class="customize" onsubmit="return false;" >
                                {% for k, v in customizations %}
                                    <p>
                                        <label for="id_{{k}}">{{ v.label }}</label>
                                        <input type="{{ v.form_type }}" id="id_{{ k }}" name="{{ k }}" placeholder="{{ v.placeholder }}">
                                    </p>
                                {% endfor %}
                            </form>
                        </div>
                        </div>

                        <div class="btn-group">
                            <div class="add-left btn btn-xs btn-default" title="Add chart on left side"><i class="glyphicon glyphicon-arrow-left"></i></div>
                            <div class="hint btn btn-xs btn-default disabled">Add</div>
                            <div class="add-right btn btn-xs btn-default" title="Add chart on right side"><i class="glyphicon glyphicon-arrow-right"></i></div>
                        </div>

                        <div class="delete btn btn-xs btn-warning" title="delete"><i class="glyphicon glyphicon-trash"></i></div>

                        <!--
                        <div class="pull-right btn-group">
                            <div class="resize-left btn btn-xs btn-default"><i class="glyphicon glyphicon-chevron-left"></i></div>
                            <div class="hint btn btn-default btn-xs disabled">Resize</div>
                            <div class="resize-right btn btn-xs btn-default"><i class="glyphicon glyphicon-chevron-right"></i></div>
                        </div>
                        -->

                    </div>
                    <div class="query-container panel-body">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="add-row btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add row</button>

    <script>
        require(["jquery", "jquery.cookie", "bootstrap-switch"], function($){
            var hints = $("#global-options").find(".hints");

            hints.bootstrapSwitch({
                onSwitchChange: function(event, state){
                    if (state){
                        $(".hint").show("fast");
                        $.cookie("hints", "1");
                    } else {
                        $(".hint").hide("fast");
                        $.cookie("hints", "0");
                    }
                }
            });

            if ($.cookie("hints") === "0"){
                $(".hint").hide();
                hints.click();
            }
        });

        require(["dashboard/page_editor"], function(editor){
            editor({
                page: $("#page-data").data("page"),
                container: $("body"),
                rowTemplate: $("#row-template"),
                synchroniseUrl: "{% url 'dashboard:synchronise-queries' %}",
                saveUrl: "{% url 'dashboard:save-rows' page_id %}"
            });
        });
    </script>
{% endblock %}