{% extends "dashboard/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/edit_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css' %}">
{% endblock %}

{% block dashboard-body %}
    <p><br/></p>

    <div id="global-options" class="row">
        <div class="col-lg-12">
            <div data-query-id="" class="panel panel-default">
                <div class="panel-heading">Global options</div>
                <div class="panel-body">
                    <div class="save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</div>
                    <div class="add-page btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add page</div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info">You can edit the menu to the left of this screen. When done, press 'save'.</div>

    <li style="display:none;" class="menu-template">
        <i class="fa fa-fw"></i>
        <input placeholder="Name.." class="form-control" name="name" type="text" value="{{ page.name }}" />
        <div class="btn-group btn-group-sm">
            <button class="move-down btn btn-default"><i class="glyphicon glyphicon-arrow-down"></i></button>
            <button class="move-up btn btn-default"><i class="glyphicon glyphicon-arrow-up"></i></button>
        </div>
        <input name="visible" class="page-visible" data-size="small" data-on-text="Visible" data-off-text="Hidden" type="checkbox"/>
        <button class="delete btn btn-sm btn-warning"><i class="glyphicon glyphicon-trash"></i></button>
    </li>

    <script>
        require(["jquery", "dashboard/menu_editor"], function($, editor){
            editor({
                menu: $("#side-menu"),
                menuTemplate: $(".menu-template")
            });
        });
    </script>
{% endblock %}