
// Colors for data series and points.
$colors: {{colors.colors}};

// Chart background, point stroke for markers and columns etc
$background-color: {{colors.backgroundColor}};

// Neutral colors, grayscale by default. The default colors are defined by mixing the
// background-color with neutral, with a weight corresponding to the number in the name.
$neutral-color-100: {{colors.neutralColor100}}; // Strong text.
$neutral-color-80: {{colors.neutralColor80}}; // Main text and some strokes.
$neutral-color-60: {{colors.neutralColor60}}; // Axis labels, axis title, connector fallback.
$neutral-color-40: {{colors.neutralColor40}}; // Credits text, export menu stroke.
$neutral-color-20: {{colors.neutralColor20}}; // Disabled texts, button strokes, crosshair etc.
$neutral-color-10: {{colors.neutralColor10}}; // Grid lines etc.
$neutral-color-5: {{colors.neutralColor5}}; // Minor grid lines etc.
$neutral-color-3: {{colors.neutralColor3}}; // Tooltip backgroud, button fills, map null points.

// Colored, shades of blue by default
$highlight-color-100: {{colors.highlightColor100}}; // Drilldown clickable labels, color axis max color.
$highlight-color-80: {{colors.highlightColor80}}; // Selection marker, menu hover, button hover, chart border, navigator series.
$highlight-color-60: {{colors.highlightColor60}}; // Navigator mask fill.
$highlight-color-20: {{colors.highlightColor20}}; // Ticks and axis line.
$highlight-color-10: {{colors.highlightColor10}}; // Pressed button, color axis min color.

// @import "highcharts.scss" lets us extend the default highcharts theme.
// Of course you can write your own theme from scratch.
@import "highcharts.scss";