<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% if not editing %}
                {% for page in pages %}
                    <li>
                        <a href="{% url 'dashboard:view-page' page.id %}">
                            <i class="fa {{ page.icon }} fa-fw"></i> {{ page.name }}
                            {% if request.user.is_superuser %}
                                {% if not page.visible %}
                                    <small style="color:black;" class="pull-right">
                                        <i style="color:black;" class="fa fa-fw fa-eye-slash"></i> hidden
                                    </small>
                                {% endif %}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
