<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% if not editing %}
                {% for page in pages %}
                    <li>
                        <a href="{% url 'dashboard:view-page' page.id %}">
                            <i class="fa {{ page.icon }} fa-fw"></i> {{ page.name }}
                            {% if request.user.is_superuser %}
                                <i style="color:black;" class="pull-right fa fa-fw fa-eye{% if not page.visible %}-slash{% endif %}"></i>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>


