
{# placeholder/backdrop for the sidebar for styling purposes #}
{% if not hide_menu %}
    <div class="sidebar-placeholder"></div>
{% endif %}

{# Navigation #}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="menu-logo" href="{% url "dashboard:index" %}"></a>
    </div>

    {% include "dashboard/top_menu.html" %}
</nav>

{% if not hide_menu %}
    {% include "dashboard/left_menu.html" %}
{% endif %}