{% extends "dashboard/base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block dashboard-body %}

<div class="alert alert-info" role="alert">
    <p>
    By default queries results only expire after an explicit cache invalidation. You can set auto-refresh intervals
    for every query when editing a page. In order for this to work, add the following as a cronjob on the computer
    running AmCAT Dashboard:
    </p>

    <p>
        <code>* * * * * wget "http://localhost:{{ server_port }}/dashboard/cron-trigger/{{ cron_secret }}" -O /dev/null -q</code>
    </p>

    <p>
        Related: <a style="text-decoration: underline;" href="https://askubuntu.com/questions/2368/how-do-i-set-up-a-cron-job">Ask Ubuntu: How do I set up a Cron job?</a>
    </p>
</div>

<table class="table table-condensed" style="width:auto; min-width:30%">
    <thead>
    <tr>
        <th>AmCAT ID</th>
        <th>Name</th>
        <th>Schedule</th>
        <th>Last update</th>
    </tr>
    </thead>
    <tbody>
    {% for query in all_queries %}
    <tr>
        <th scope="row">{{ query.amcat_query_id }}</th>
        <td>{{ query.amcat_name }}</td>
        <td>{{ query.refresh_interval }}</td>
        <td>{% if query.cache_timestamp != epoch %}<time datetime="{{ query.cache_timestamp.isoformat }}">{{ query.cache_timestamp }}</time>{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No queries found</td>
    </tr>
    {% endfor %}
    </tbody>

</table>



{% endblock %}