{% load i18n %}
<div class="col-sm-{{ panel_size }}">
    <div id="{{ panel_id }}" class="panel panel-default query-container"
             {% if theme_args %}
                data-theme="{{ theme_args|escape }}"
             {% endif %}
             data-customize="{{ customize_args|escape }}"
             data-title="{{ cell.get_title }}"
             {% if cell.link %}
             data-link="{{ cell.link }}"
             {% endif %}
             data-saved-query-src="{% url 'dashboard:get-saved-query' page.id query.id %}{{ query_suffix }}">
    </div>
</div>
