<script>
    requirejs([
        "jquery",
        "query/renderers"
    ], function($, renderers){
        var container = $("#{{ container }}");

        $.ajax({
            url: "{% url 'dashboard:get-saved-query' query.id %}"
        }).done(function(query){
            $.ajax({
                url: "{% url 'dashboard:get-saved-query-result' query.id %}"
            }).done(function(result){
                renderers[query.output_type](query.amcat_parameters, container.find(".query-container"), result);
            });

            container.find(".query-name").text(query.amcat_name);
        });
    });
</script>
