{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block dashboard-body %}

<h2>{% trans "Select Project" %}</h2>

{% if user.system is None %}
    <p>{% trans "This is your first visit, so some setup is needed." %}</p>
{% endif %}
<p>{% trans "Multiple AmCAT dashboard instances are available. Please choose one below." %}</p>
<div class="col-lg-12">
<div class="row">
<div class="list-group">
    {% for system, ping_result in systems_pings %}
        {% include 'dashboard/system_list_item.html' with system=system ping_result=ping_result widget=form.system %}
    {% endfor %}
    {% if user.is_superuser %}
        <a href="{% url "dashboard:token-setup" %}" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-plus"></span> Add system...</a>
    {% endif %}
</div>
</div>
</div>


{% endblock %}