
<ul class="nav navbar-top-links navbar-right">
    <!-- Project dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bars fa-fw"></i> Projects <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
        </ul>
    </li>

    <!-- Account dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> User <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="{% url 'dashboard:amcat-settings' %}"><i class="fa fa-plug fa-fw"></i> AmCAT settings</a></li>
            <li><a href="{% url 'account_settings' %}"><i class="fa fa-user fa-fw"></i> View profile</a></li>
            <li><a href="https://github.com/amcat/amcat-dashboard/issues/new"><i class="fa fa-bug fa-fw"></i> Report error</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
    </li>
</ul>
