#page-wrapper{
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 30px;
}

.dataTables_scrollBody thead{
    visibility: collapse;
}

.label.dropdown-toggle, .label-button {
    cursor: pointer;
}

.label.filter {
    margin: 1em 0.2em ;
}

.label [contenteditable] {
    font-size: 1.2em;
    padding: 0.2em;
    background-color: #fefefe;
    color: #333;
}