#page-wrapper{
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 30px;
}

.dataTables_scrollBody thead{
    visibility: collapse;
}


.filter-input-textbox {
    margin: -4px 0;
    height: calc(100% + 8px);
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    flex: 1 1 auto;
}

.form-group-lg .form-control-wrapper, .form-group .form-control-wrapper{
    display: flex;
    align-items: first baseline;
}

