.query-stub{
    background-image: none;
}

.query-stub .query-container{
    text-align: center;
    font-size: 6em;
    color: lightgray;
}

.query-stub.selected {
    color: white;
    background-image: repeating-linear-gradient(
        45deg, white, white 10px,
        #ebebeb 10px, #ebebeb 20px
    );


}