.edit-menu .sidebar {
     width: 500px;
 }

.edit-menu input.form-control{
    width: initial;
    display: inline;
 }

.edit-menu #page-wrapper{
     margin: 0 0 0 500px;
}

.edit-menu .dropdown-inline{
    display: inline-block;
}